---
layout: home
---

<section class="app-feature-sec" id="feature">
    <div class="container">
        <div class="row">
            <div class="col-md-8 offset-md-2">
                <div class="title">
                    <h2>Why you will love this app</h2>
                </div><!--/.title-->
            </div>
            <div class="w-100"></div>
            <div class="col-md-6">
                <div class="app-mock-up-img">
                    <div class="row justify-content-md-center justify-content-sm-center">
                        <div class="col-md-auto col-sm-auto">
                            <div class="banner-app-mock">
                                <!--mobile inside image-->
                                <img src="{{ site.baseurl }}/assets/images/feature-app.jpg" class="main-img" alt="">
                                <!--mobile mockup-->
                                <img src="{{ site.baseurl }}/src/themes/rapp/images/mobile-mock.png" class="mockup" alt="">
                            </div><!--/.banner-app-mock-->
                        </div>
                    </div>
                    <div class="mobile-graphic">
                        <!--mobile graphic-->
                        <img src="{{ site.baseurl }}/src/themes/rapp/images/mobile-graphic.png" alt="" class="moc-grp">
                    </div>
                </div>
            </div>
            <div class="col-md-5 offset-md-1">
                <div class="feature-inside">
                    <ul>
                        <li data-aos="fade-up" data-aos-delay="150" class="aos-init">
                            <img src="{{ site.baseurl }}/assets/images/all-in-one.png" alt="All-in-one">
                            <h4>All-in-one</h4>
                            <p>Enjoy everything you could want about AI in one place: AI news, learning resources, projects, startups, celebrities, and many more.</p>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="300" class="aos-init">
                            <img src="{{ site.baseurl }}/assets/images/in-depth-coverage.png" alt="In-depth coverage">
                            <h4>In-depth coverage</h4>
                            <p>Browse from beginner concepts to the most advanced state-of-the-art AI.</p>
                        </li>
                        <li data-aos="fade-up" data-aos-delay="550" class="aos-init">
                            <img src="{{ site.baseurl }}/assets/images/open-source.png" alt="Open source">
                            <h4>Open source</h4>
                            <p>The content catalog is open-sourced on GitHub. You can join our mission to build, curate and re-index the world of AI.</p>
                        </li>
                    </ul>
                </div><!--/.feature-inside-->
            </div>
        </div>
    </div><!--/.container-->
</section>

<section class="app-listing-sec">
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="app-listing">
                    <h2>You may also like these apps</h2>
                    {% for app in site.data.apps.related limit: 4 -%}
                    <div class="appbox col-lg-3 col-md-6 col-sm-6 col-xs-12">
                        {% include jify file="_includes/single_app.html" from="custom" mode="exclusive" %}
                    </div>
                    {% endfor -%}
                </div>
            </div>
        </div>
    </div>
    <!--/.container-->
</section>