{%- comment -%}--------------------------------------------------------------------------
Always have {% include dynamo file="_includes/head.html" mode="inclusive" %} at the
beginning of the <head> tag of your layout.  You generally use this partial to add
elements to <head> such as styles, scripts, and meta tags.
-----------------------------------------------------------------------{%- endcomment -%}

<!-- begin theme head -->
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<!--bootstrap -->
{% include dynamo function="enqueue_style" for="bootstrap" major_version="4" %}
<!--animate-->
<link rel="stylesheet" type="text/css" href="{{ THEME_DIRECTORY_URL }}/css/aos.css">
<!--reset css-->
<link rel="stylesheet" type="text/css" href="{{ THEME_DIRECTORY_URL }}/css/normalize.css">
<!--main style-->
<link rel='stylesheet' href='{{ THEME_DIRECTORY_URL }}/css/style.css' type='text/css' media='all' />
<!--set the theme-->
<script>
    var useLightTheme = true;
    if (window.location.search.includes('theme=light')) {
        useLightTheme = true;
        localStorage.setItem('theme', 'light');
    }
    else if (window.location.search.includes('theme=dark')) {
        useLightTheme = false;
        localStorage.setItem('theme', 'dark');
    }
    else {
        useLightTheme = (localStorage.getItem('theme') === null || localStorage.getItem('theme') === 'light');
    }
    document.documentElement.setAttribute('data-theme', useLightTheme ? 'light' : 'dark');
</script>
<!--owl-carousel-->
<link rel="stylesheet" type="text/css" href="{{ THEME_DIRECTORY_URL }}/css/owl.carousel.min.css">
<link rel="stylesheet" type="text/css" href="{{ THEME_DIRECTORY_URL }}/css/owl.theme.default.min.css">
<!--fontawesome -->
{% include dynamo function="enqueue_style" for="font-awesome" major_version="5" %}
<!--google fonts-->
<link href="https://fonts.googleapis.com/css?family=Poppins:400,500,600,700" rel="stylesheet">
<!--modernizr-->
<script src="{{ THEME_DIRECTORY_URL }}/js/vendor/modernizr.js"></script>
<!--[if lt IE 9]>
<script src="{{ THEME_DIRECTORY_URL }}/js/html5/respond.min.js"></script>
<![endif]-->
<!-- end theme head -->
