<!-- main nav start -->

<nav class="navbar navbar-expand-lg fixed-top center-brand static-nav">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img src="{{ site.baseurl }}/assets/images/logo-light.png" alt="logo" class="visible-in-light logo-default">
            <img src="{{ site.baseurl }}/assets/images/logo-dark.png" alt="logo" class="visible-in-dark logo-default">
        </a>
        <span class="site-title">{{ site.title }}</span>
        <button class="navbar-toggler navbar-toggler-right collapsed" type="button" data-toggle="collapse" data-target="#xenav">
            <i class="fas fa-bars fa-2x"></i>
        </button>
        {% include jify function="render_navigation"
            format="menu"
            nav="header_menu"
            container_id="xenav"
            container_class="collapse navbar-collapse"
            nav_class="navbar-nav ml-auto"
            item_class="nav-item"
            link_class="nav-link"
            current_link_class="active"
            indent_level=2 %}
    </div>
    <!--/.CONTAINER-->
</nav>
<!-- /.navbar -->

{% if page.layout == "home" -%}
{% include jify function="get_config" of="theme" key="header" -%}
<!--hero section-->
<header class="hero-section" id="home">
    <div class="container">
        <div class="row">
            <div class="col-lg-7 col-xs-12" style="margin-top: 100px;">
                <div class="row h-100">
                    <div class="col-md-12 align-self-center">
                        <div class="hero-content">
                            <h1>{{ config.title }}</h1>
                            <p>{{ config.description.part1 }}</p>
                            <form action="https://insideout.news/mailster/subscribe" method="post" class="mailster-form mailster-form-submit extern mailster-form-3">
                                <input name="_action" type="hidden" value="subscribe">
                                <input name="_referer" type="hidden" value="extern">
                                <input name="_nonce" type="hidden" value="55922c927f">
                                <input name="formid" type="hidden" value="3">
                                <div class="newsletter-wrapper">
                                    <i class="fas fa-envelope"></i>
                                    <input id="mailster-email-3" name="email" type="email" value="" placeholder="Your email *" class="input email mailster-required" aria-required="true" aria-label="Your email" spellcheck="false">
                                    <input name="submit" type="submit" value="Subscribe" class="submit-button button" aria-label="Subscribe">
                                </div>
                            </form>
                            <a href="{{ site.baseurl }}/newsletter/">See recent issues</a>
                            <div class="plus">+</div>
                        </div><!--/.hero-content-->
                    </div>
                </div>
            </div>
            <div class="col-lg-6 offset-lg-6 col-xs-12 order-lg-12 app-description">
                <div class="hero-content">
                    <p>{{ config.description.part2 }}</p>
                    <a href=""><img alt="Get it on Google Play" src="https://play.google.com/intl/en_us/badges/static/images/badges/en_badge_web_generic.png" style="width: 200px;" /></a>
                </div>
            </div>
            <div class="col-lg-5 col-xs-12 pos-r order-lg-1 app-ui">
                <div class="row justify-content-md-center justify-content-sm-center">
                    <div class="col-md-auto col-sm-auto">
                        <div class="banner-app-mock">
                            <!--mobile inside image-->
                            <img src='{{ config.screenshot }}' class="main-img" alt="mobile inside image" />
                            <!--mobile mockup-->
                            <img src="{{ THEME_DIRECTORY_URL }}/images/mobile-mock.png" class="mockup" alt="mobile mockup" />
                        </div><!--/.banner-app-mock-->
                    </div>
                </div>
                <div class="mobile-graphic">
                    <!--mobile graphic-->
                    <img src="{{ THEME_DIRECTORY_URL }}/images/mobile-graphic.png" alt="" class="moc-grp">
                </div>
            </div>
        </div>
    </div>
</header>
<!--/.hero section-->
{% else -%}
<!--inner page banner-->
<header>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <div class="title text-center">
                    <h1>{{ page.title }}</h1>
                    <p>{{ page.excerpt }}</p>
                </div><!--/.title-->
            </div>
        </div>
    </div><!--/.container-->
</header>
<!--inner page banner-->
{% endif -%}